body {
    font-family: Arial, sans-serif;
    background-color: rgb(228, 197, 197);
}

.container {
    background-color: rgb(39, 243, 247);
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 20px;
}

.counter {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

.buttons button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #c763b5;
    color: white;
    transition: 0.3s;
    text-align: center;
}

.buttons button:hover {
    background-color: #0056b3;
}